.gradle/
.idea/
local.properties
**/build/
.build/
dist/
app/src/main/assets/ubuntu-rootfs-arm64.tar.xz
app/src/main/assets/proot-libs-arm64.tar.xz
app/src/main/jniLibs/arm64-v8a/libproot.so
*.jks
*.keystore
